/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  margin: 5%;
  background: linear-gradient(to bottom right, floralwhite, honeydew);
  background-attachment: fixed;
}

